<diV class="navbar">
    <a class="nav nav-item home-link" href="/" title="home">
        <i class="fa-solid fa-house-chimney home-logo fa-2xl" style="color: #07705a;"></i>
    </a>
    <div class="user-navigation nav-item">
        <a class="user-navigation-item" href="/login" title="login">
            <i class="fa-regular fa-user user-logo fa-2xl" style="color: #07705a;"></i>
        </a>
        <a class="user-navigation-item" href="/wishlist" title="wishlist">
            <i class="fa-regular fa-heart heart-icon fa-2xl" style="color: #07705a;"></i>
        </a>
        <a class="user-navigation-item" href="/cart" title="cart">
            <i class="fa-solid fa-basket-shopping cart-logo fa-2xl" style="color: #07705a;"></i>
        </a>
    </div>
</diV>
