{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
    <div class="top-bar d-none d-lg-block">
        <div class="container">
            <nav class="top-bar-nav">
                {% block zen_layout_header_top_bar_login_register %}
                    {% if topBarStyle is not same as ('offcanvas') and theme_config('zen-header-style') is not same as ('two-line')%}
                        {% sw_include '@zenitPlatformStratus/storefront/component/zen-login-register.html.twig' %}
                    {% endif %}
                {% endblock %}

                {% block zen_layout_header_top_bar_marketing %}
                    {% if topBarStyle is not same as ('offcanvas') and config('zenitPlatformStratus.config.marketingActive') %}
                        <div class="top-bar-nav-item top-bar-marketing">
                            {% sw_include '@zenitPlatformStratus/storefront/component/zen-text-slider.html.twig' with {
                                active: config('zenitPlatformStratus.config.marketingActive'),
                                text: config('zenitPlatformStratus.config.marketingText'),
                                buttonText: config('zenitPlatformStratus.config.marketingButtonText'),
                                buttonLink: config('zenitPlatformStratus.config.marketingButtonLink'),
                                buttonTarget: config('zenitPlatformStratus.config.marketingButtonTarget')
                            } %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% if theme_config('zen-header-style') is not same as ('two-line') or (theme_config('zen-header-style') is same as ('two-line') and topBarStyle is same as ('offcanvas')) %}
                    {% block layout_header_top_bar_language %}
                        {% sw_include '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}
                    {% endblock %}

                    {% block layout_header_top_bar_currency %}
                        {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' %}
                    {% endblock %}

                    {% block layout_header_top_bar_service %}
                        {% sw_include '@Storefront/storefront/layout/header/actions/service-menu-widget.html.twig' %}
                    {% endblock %}
                {% endif %}

                {% block zen_layout_header_top_bar_close %}
                    {% if topBarStyle is same as ('expandable') or topBarStyle is same as ('collapsible') %}
                        <button class="btn top-bar-nav-btn btn-close-top-bar"
                                type="button"
                                aria-label="{{ "zentheme.general.closeTopBar"|trans|striptags }}"
                                data-toggle="collapse"
                                data-target="#topBarCollapse"
                                aria-expanded="true"
                                data-zen-collapse-top-bar-options="{{ zenCollapseTopBarOptions|json_encode }}">
                            {% block zen_layout_header_top_bar_close_icon %}
                                {% sw_icon 'x' style { 'size': 'sm' } %}
                            {% endblock %}
                        </button>
                    {% endif %}
                {% endblock %}
            </nav>
        </div>
    </div>
{% endblock %}
