{% block zen_layout_navigation_dropdown %}
    {% set category = navigationTree.category %}
    {% set name = category.translated.name %}

    {% block zen_layout_navigation_dropdown_lists %}
        {% if trigger is not same as ('click') %}<div class="navigation-dropdown-list-wrapper" data-dropdown-menu-id="{{ category.id }}">{% endif %}
            {% block zen_layout_navigation_dropdown_recursion %}
                {% sw_include '@zenitPlatformStratus/storefront/layout/navigation/zen-dropdown-categories.html.twig' with {
                    id: category.id,
                    parentNavigationTree: navigationTree,
                    navigationTree: navigationTree.children,
                    page: page,
                    trigger: trigger
                } only %}
            {% endblock %}
        {% if trigger is not same as ('click') %}</div>{% endif %}
    {% endblock %}
{% endblock %}
