{% block zen_component_text_slider %}
    {% set marketing = {
        'translated': {
            text: "zentheme.stratus.content.marketingText"|trans({"%placeholder%": text})|replace({'\n': ';'})|trim|trim(';')|split(';'),
            buttonText: "zentheme.stratus.content.marketingButtonText"|trans({"%placeholder%": buttonText}),
            buttonLink: "zentheme.stratus.content.marketingButtonLink"|trans({"%placeholder%": buttonLink})
        }
    } %}

    {% if active %}
        <div class="text-slider"
             data-text-slider="true"
             data-zen-text-slider-options='{"interval": 4000}'>
            <div class="text-items text-slider-items">
                {% for entry in marketing.translated.text %}
                    <div class="text-item text-slider-item"><span class="item-entry">{{ entry|raw }}</span></div>
                {% endfor %}
            </div>
        </div>
        {% if buttonText and buttonLink %}
            <div class="text-slider-button">
                <a href="{{ marketing.translated.buttonLink }}"
                   {% if buttonTarget is same as ('_blank') %}target="_blank" rel="noopener"{% endif %}
                   title="{{ marketing.translated.buttonText }}"
                   class="btn btn-outline btn-sm">
                    {{ marketing.translated.buttonText }}
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
